:root {
  --background-color: hsl(30, 38%, 92%);
  --main-font: "Montserrat", sans-serif;
  --second-main-font: "Fraunces", sans-serif;
  --font-weight-lighter: 500;
  --font-weight-bold: 700;
  --card-bgColor: hsl(0, 0%, 100%);
  --button-bgColor: hsl(158, 36%, 37%);
  --button-font-color: hsl(0, 0%, 100%);
  --main-font-color: hsl(212, 21%, 14%);
  --secondary-font-color: hsl(228, 12%, 48%);
  --price-font-color: hsl(158, 36%, 37%);
  --paragraph-font-size: 14px;
  --button-icon-color: hsl(0, 0%, 100%);
}

body {
  background-color: var(--background-color);
  font-family: var(--main-font);
}

.main-card-section {
  display: flex;
  @media screen and (min-width: 375px) {
    flex-direction: column;
    width: 375px;
    border: none;
    background-color: var(--card-bgColor);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0;
  }
  @media screen and (min-width: 1440px) {
    flex-direction: row;
    flex-wrap: wrap;
    width: 670px;
    height: 503px;
    border: none;
    background-color: var(--card-bgColor);
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 90px;
    padding: 0;
  }
}

.img-mobile {
  display: block; /*visible by default*/
}

.img-desktop {
  display: none; /* hidden by default */
}

@media screen and (min-width: 1440px) {
  /* Na dużych ekranach pokaż obraz desktopowy i ukryj mobilny */
  .img-mobile {
    display: none;
  }
  .img-desktop {
    display: block;
  }
}

.img-card {
  @media screen and (min-width: 375px) {
    width: 375px;
    height: 280px;
    margin: 0 auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  @media screen and (min-width: 1440px) {
    width: 335px;
    height: 503px;
    margin: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

.info-card-section {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 375px) {
    width: 375px;
    margin: 0 auto;
  }
  @media screen and (min-width: 1440px) {
    width: 260px;
    margin: 0 auto;
  }
}

.product-card-name {
  color: var(--secondary-font-color);
  font-size: var(--paragraph-font-size);
  @media screen and (min-width: 375px) {
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-left: 25px;
    font-weight: var(--font-weight-lighter);
  }
  @media screen and (min-width: 1440px) {
    margin: 0;
    padding: 0;
    padding-top: 35px;
  }
}

.product-card-title {
  font-family: var(--second-main-font);
  line-height: 1;
  @media screen and (min-width: 375px) {
    width: 320px;
    margin: 0;
    margin-top: 10px;
    margin-left: 25px;
    font-size: 32px;
  }
  @media screen and (min-width: 1440px) {
    margin: 25px 0 25px 0;
    font-weight: var(--font-weight-bold);
    width: 240px;
    font-size: 36px;
  }
}

.product-card-description {
  color: var(--secondary-font-color);
  font-weight: var(--font-weight-lighter);
  line-height: 1.5;
  @media screen and (min-width: 375px) {
    margin: 0;
    margin-top: 16px;
    width: 320px;
    margin-left: 25px;
  }
  @media screen and (min-width: 1440px) {
    margin: 0;
    margin-top: 0;
  }
}

.product-prices {
  @media screen and (min-width: 375px) {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 0;
    margin-left: 25px;
  }
  @media screen and (min-width: 1440px) {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.product-card-price {
  color: var(--price-font-color);
  font-family: var(--second-main-font);
  @media screen and (min-width: 375px) {
    font-size: 32px;
  }
  @media screen and (min-width: 1440px) {
    font-size: 32px;
  }
}

.product-old-price {
  @media screen and (min-width: 1440px) {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    padding-top: 22px;
  }
}

.product-button {
  @media screen and (min-width: 1440px) {
    background-color: var(--button-bgColor);
    color: var(--button-font-color);
    fill: var(--button-font-color);
    font-weight: var(--font-weight-bold);
    font-family: var(--main-font);
    width: 260px;
    height: 55px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
  }
}

.product-button-icon {
  @media screen and (min-width: 1440px) {
    fill: var(--button-icon-color);
    padding: 0;
    padding-right: 15px;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
